*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("img/1cidade-invisivel.jpg");
    background-size: cover;
    background-position: right top;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #00000090;
    height: 70px;

}

main{
    background-color: tomato;
    flex-grow: 1;
}

footer{
    height: 40px;
}