*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("img/curupira");
    background-color: #00000015;
    background-blend-mode: darken;
    background-size: cover;
    background-position: right top;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color: white;
}

header{
    background-color: #00000070;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

.links ul {
    display: flex;
    gap: 20px;
    color: white;
    list-style-type: none;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    user-select: none;
    transition: all .5s;
}

.links a:hover {
    color: red;
}

.logo img {
    width: 130px;
}

main p{
    padding: 0vh 14vw;
    flex-grow: 1;
    font-size: 25px;
    font-family: 'Francois One', sans-serif;
    font-family: 'Raleway', sans-serif; 
    max-width: 700px;
}

main h1 {
    padding: 1vh 10vw;
    flex-grow: 1;
    font-size: 90px;
    font-family: 'Francois One', sans-serif;
}

div {
    width: 80px;
    height: 80px;
    flex-grow: 1;
    color: red;
    font-size: 30px;
    margin-left: 140px;
    margin-top: -110px;
}
  
.rotated {
    transform: rotate(270deg); 
}

footer{
    margin-top: 250px;
    text-align: center;
    height: 40px;
}




















