*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("img/cidade-invisivel-img.jpg");
    background-size: cover;
    background-position: right top;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
}

header{
    background-color: #00000090;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

.logo img {
    width: 120px;;
}

.links ul {
    display: flex;
    gap: 20px;
    color: white;
    list-style-type: none;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: large;
    user-select: none;
    transition: all .8s;
}

.links a:hover {
    color: red;
}

main{
    /*background-color: tomato;*/
    flex-grow: 0.7;
}

footer{
    /*background-color: blue;*/
    height: 40px;
}